{% extends './base.html' %}

{% block content %}

<!-- Not logged -->
{% if not logged %}
  <h2>Please login to continue</h2>
  <a href="{% url 'login' %}">Login</a>

<!-- Logged -->
{% else %}
  <h1>Hello {{ user.username }}!</h1>
  <br>
  <h2>Total sessions: {{count}}</h2>
  <br>

  {% for session in sessions %}
    <h3>Session: {{session.id}}</h3>
    <h4>Date: {{session.date}}</h4>
    <h4>Duration: {{session.duration}}</h4>
    <h4>Notes: {{session.notes}}</h4>
    <br>

  {% endfor %}

{% endif %}

{% endblock %}