{% extends './base.html' %}

{% block content %}

<!-- Not logged -->
{% if not logged %}
  <h2>Please login to continue</h2>
  <a href="{% url 'login' %}">Login</a>

<!-- Logged -->
{% else %}
  <h1>Hello {{ user.username }}!</h1>
  <br>
  <h2>Total skills: {{count}}</h2>
  <br>

  {% for skill in skills %}
    <h3>Skill id: {{skill.id}}</h3>
    <h4>name: {{skill.name}}</h4>
    <h4>Duration: {{skill.category}}</h4>
    <h4>Notes: {{skill.description}}</h4>
    <a href="{% url 'edit-skill' skill.id %}">Edit skill</a>
    <br>

  {% endfor %}

{% endif %}

{% endblock %}